<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Orange HRM Automation">
    <classes>
		
		<class name="com.orangehrm.testcase.TC_LoginTest_001" />  
      <!--<class name="com.orangehrm.testcase.TC_LoginTestDDT_001"/> -->
		<class name="com.orangehrm.testcase.TC_AddEmployee_002" />
     
      
    </classes>
  </test> 
</suite> 
